build
dist
media
node_modules
.idea/dataSources
.idea/
.vscode
test
.idea/e-commerce-next.iml
docker-compose-test.yml
docker-compose.yml
docker.dev
docker.production
vercel.json
.DS_Store
.next
.vercel
.env
.env.example
